.derksen-page {
    background-image: url("https://i.postimg.cc/wx20V6D7/Screen-Shot-2021-01-12-at-7-13-50-PM.png"); 
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.derksen-original-text {
    background-color:  rgb(41,0,0);
    border: solid 4px #540b06;
    color: #c46a68;
    height: 80%;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.derksen-poem-div {
    font-size: 10px;
    overflow: scroll;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: none;
}

.derksen-poem-div::-webkit-scrollbar {
    display: none;
}