.dana-page {
    background-image: url("https://i.postimg.cc/3rF6hdJM/Screen-Shot-2020-05-25-at-10-30-56-PM.png");
    background-size: initial;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dana-original-text {
    /* background-color: #8fffda;
    border: solid 2px blue; */
    background-color: blue;
    border: solid 2px maroon;
    color: #c46a68;
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dana-poem-div {
    font-size: 10px;
    overflow: scroll;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: none;
}

.dana-poem-div::-webkit-scrollbar {
    display: none;
}

.poem-header {
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    border-bottom: black 2px solid;
}

.poem-link {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.start-over-link {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 99%;
    margin: 10px;
}

.start-over-link>a {
    color: red;
}

@media screen and (max-width: 375px) {
    .dana-original-text {
        width: 80%;
        /* height: 70%; */
    }
    .dana-poem-div {
        font-size: 9px;
    }
    .start-over-link {
        flex-direction: row;
        justify-content: space-evenly;
        border-top: solid .5px blue;
        padding: 5px;
    }
}