.dana-pages {
    color: white;
    background-color: wheat;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.postimg.cc/pXpVVLZj/Screen-Shot-2021-01-12-at-7-25-53-PM.png);
    background-size: cover;
}

.dana-text {
    color: white;
    text-shadow: 5px 3px 8px #050505;
    color: #FFFFFF;
}

.link {
    color: white;
}

.link:hover {
    color: red;
}

@media screen and (max-width: 375px) {
    .dana-pages {
        width: 375px;
        height: 100%;
        background-image: url(https://i.postimg.cc/pXpVVLZj/Screen-Shot-2021-01-12-at-7-25-53-PM.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 40px;
    }
    .dana-text {
        width: 320px;
    }
    .link {
        color: grey;
        /* color: #7fffd4; */
    }
    .link:hover {
        color: grey;
    }
}
