.dana-page {
    background-image: url("https://i.postimg.cc/3rF6hdJM/Screen-Shot-2020-05-25-at-10-30-56-PM.png");
    background-size: initial;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.original-text {
    background-color: #8fffda;
    border: solid 2px blue;
    /* overflow: scroll; */
    height: 80%;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poem-div {
    font-size: 10px;
    overflow: scroll;
}

.poem-div::-webkit-scrollbar {
    display: none;
}

.poem-header {
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    border-bottom: black 2px solid;
}

.poem-link {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    .original-text {
        width: 80%;
    }
    .poem-div {
        font-size: 9px;
    }
}