.dana-page {
    background-image: url("https://i.postimg.cc/3rF6hdJM/Screen-Shot-2020-05-25-at-10-30-56-PM.png");
    background-size: initial;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.original-text {
    background-color: #8fffda;
    border: solid 2px blue;
    overflow: scroll;
    height: 80%;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.original-text::-webkit-scrollbar {
    display: none;
}

.poem-div {
    /* font-family: arial; */
    font-size: 10px;
    /* margin-bottom: 150px; */
    /* margin-top: 30px; */
    /* width: 70%;
    height: 80%; */
}

.poem-header {
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    border-bottom: black 2px solid;
}

.poem-link {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.dana-page-lines-container {
    /* background-color: brown; */
}