.added-lines {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.line-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-options>a {
    color: red;
}
.username {
    color: orange;
    white-space: pre-wrap;
}
