.nav-container {
    background-color: black;
    color: lightgray;
    padding: 5px;
}

.nav-links {
    color: lightgray;
}

@media screen and (max-width: 375px) {
    .nav-container {
        display: flex;
        justify-content: space-evenly;
    }
}