.nav-container {
    /* background-color: aquamarine; */
    background-color: black;
    color: lightgray;
    /* font-family: 'Josefin Sans', sans-serif; */
    padding: 5px;
}

.nav-links {
    color: lightgray;
}